<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Välkommen</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Välkommen</h1>
<p th:if="${#authorization.expression('isAuthenticated()')}"
   th:text="'Du är inloggad som: ' + ${#authentication.name}"></p>

<p th:if="${#authorization.expression('isAuthenticated()')}"
   th:text="'Din roll: ' + ${#authentication.authorities[0].authority.startsWith('ROLE_')
    ? #authentication.authorities[0].authority.substring(5)
     : #authentication.authorities[0].authority}"></p>

<a th:href="@{/user}">Användarsida</a>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/admin}">Adminsida</a>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logga ut"/>
</form>
</body>
</html>